<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/gameRoom.css" />
  </head>

  <body>
    <div class="outDiv">
      <div class="row">
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(0)"
        />
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(1)"
        />
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(2)"
        />
      </div>
      <div class="row">
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(3)"
        />
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(4)"
        />
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(5)"
        />
      </div>
      <div class="row">
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(6)"
        />
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(7)"
        />
        <img
          src="/images/dog2.png"
          class="cell"
          title="yellow"
          onclick="getcount(8)"
        />
      </div>
      <div class="rulediv">
        <div>
          <span class="rule" id="time">剩餘時間： 0s</span>
          <button class="startBtn" id="startBtn">遊戲開始</button>
          <span class="rule" id="combo">成績分數： 0</span>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/gameRoom.js"></script>
  </body>
</html>
